body {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows:  500px 600px 600px;
    padding: 5px;
    background-image: url(https://basisbugle.files.wordpress.com/2015/01/hogwarts-harry-potter-28869061-1920-10811.jpg?w=1920&h=768&crop=1);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  } 
#user-section{
    grid-column-start: 1;
    grid-row-start: 3;
   
    
}
#search {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 30px;
    justify-content: center;
}
#searchResults { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-start: 2;
    grid-row-start: 3;
    /* overflow: auto; */
    color: white;
    
}
.image-card{
    width: 250px;
    height: 300px; 
    padding: 5px
}
.card-title { 
    text-align: center;
}

.hogwartsHouse {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
 #gryffindor-div {
   padding: 20px;
   
}
#slytherin-div {
  padding: 20px;
    
}
#hufflepuff-div {
    padding: 20px;

}

#ravenclaw-div{
    padding: 20px;
} 


.gLogo {

    width: 250px;
    height: 300px;
}
.sLogo{
    width: 250px;
    height: 300px;
}

.hLogo{
    width: 250px;
    height: 300px;
}
.rLogo{
    
    width: 250px;
    height: 300px;
}

.gNames {
    text-align: center;
    font-size: 100%;

}


.header img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 500px;
    height: 100%;
}

.header {
    padding: 50px;
    grid-column-start: 2;   
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 300px;
    text-align: center;
} 

#links {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.link{
    padding:5px;
}

#quiz {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#albus {
    width:300px;
    height: 565px;
}
#tom{
    grid-column-start: 3;
    grid-row-start: 3;
}
#voldamort {
    width:300px;
    height: 600px;

}
